name: in3-ipfs-example

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container: jguyomard/hugo-builder

    steps:
      - uses: actions/checkout@v2
      - run: hugo -D
      - uses: aquiladev/ipfs-action@v0.1.2-alpha
        id: upload
        with:
          path: ./public
