name: in3-ipfs-example

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container: jguyomard/hugo-builder

    steps:
      - uses: actions/checkout@v2
      - run: hugo -D
      - uses: aquiladev/ipfs-action@v0.1.2-alpha
        id: upload
        with:
          path: ./public
      - uses: actions/upload-artifact@v1
        with:
          name: public
          path: ./public

  deploy:
    needs: build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/download-artifact@v1
        with:
          name: public
      - script: |
          sudo add-apt-repository ppa:devops-slock-it/in3
          sudo apt-get install in3
          in3 --help

