name: in3-ipfs-example

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: jekyll/jekyll

    steps:
      - uses: actions/checkout@v2

      - run: JEKYLL_ENV=production bundle exec jekyll build