name: in3-ipfs-example

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    container: damnfine/jekyll-awscli

    steps:
      - uses: actions/checkout@v2
      - run: gem install pygments.rb
      - run: gem install bundler
      - run: bundle install
      - run: JEKYLL_ENV=production bundle exec jekyll build

               - name: Upload to IPFS
               uses: aquiladev/ipfs-action@v0.1.2-alpha
               id: upload
               with:
                 path: ./_site